// Colors
$background-color: #F5F5F5;
$deep-purple: #673AB7;

// Sizes
$small-cover-height: 250px;
$medium-cover-height: 350px;
$large-cover-height: 500px;

$max-content-width: 960px;

$small-page-padding: 16px;
$page-padding: 24px;

// Breakpoints
$small-screen: 600px;
$medium-screen: $max-content-width;
$large-screen: 1600px;