@import "variables";

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin type-setting($em) {
  font-size: $em;
  line-height: #{$em * $base-line-height}
}

body {
  @include type-setting($base-font-size)
}

h1, h2, h3, h4, h5 {
  margin: 0;
  span {
    font-weight: normal;
  }
}

h1 {
  @include type-setting($title)
}

p, table {
  @include type-setting($paragraph);
}

p {
  margin: $medium-separation 0;
  padding: 0;
}