<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#673AB7">
    <link rel="icon" type="image/png" href="<%= require('./assets/favicon_16.png') %>"
          sizes="16x16">
    <link rel="icon" type="image/png" href="<%= require('./assets/favicon_32.png') %>"
          sizes="32x32">
    <link rel="icon" sizes="192x192" href="<%= require('./assets/favicon_192.png') %>">
    <title>Showman</title>
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>
