@import "../variables";
@import "../typography";

@mixin cover-height() {
  height: $small-cover-height;
  @media #{$mq-medium-up} {
    height: $medium-cover-height;
  }
  @media #{$mq-large-up} {
    height: $large-cover-height;
  }
}

.show-component {
  position: relative;
  .cover {
    @include cover-height();
    background-color: $image-background;
    > div {
      @include cover-height();
    }
  }
  .details {
    @media #{$mq-medium-up} {
      transition: margin-top 1s ease-in-out;
    }
    margin-top: -24px;
    @media #{$mq-medium-up} {
      margin-top: -48px;
    }
    @media #{$mq-large-up} {
      margin-top: -48px;
    }
    margin-left: $small-page-margin;
    margin-right: $small-page-margin;
    @media #{$mq-medium-up} {
      margin-left: $page-margin;
      margin-right: $page-margin;
    }
    .card {
      @media #{$mq-medium-up} {
        max-width: $max-content-width;
        margin: 0 auto;
      }
      background-color: white;
      transition: box-shadow .25s;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      padding: $small-separation ;
      @media #{$mq-medium-up} {
        padding: $medium-separation;
      }
    }
    .details-body {
      margin-bottom: 24px;
      @media #{$mq-medium-up} {
        margin-bottom: 48px;
      }
      @media #{$mq-large-up} {
        margin-bottom: 48px;
      }
    }
    .show-details {
      display: flex;
      @media #{$mq-medium-up} {
        > :not(:last-child) {
          margin-right: 24px;
        }
      }
      > div:first-child {
        flex: 1 0 $small-poster-width;
        max-width: $small-poster-width;
        @media #{$mq-large-up} {
          flex: 1 0 $poster-width;
          max-width: $poster-width;
        }
      }
      .poster {
        background-color: $image-background;
        height: $small-poster-height;
        width: $small-poster-width;
        @media #{$mq-large-up} {
          height: $poster-height;
          width: $poster-width;
        }
      }
      .summary {
        flex: 1 0 0;
        table {
          border-spacing: 0;
          text-align: left;
          margin-top: 24px;
          td {
            vertical-align: top;
            padding-bottom: 5px;
          }
          td:nth-child(1) {
            font-weight: bold;
            padding-right: 16px;
          }
        }
      }
    }
  }
}